extends ./layout/layout.pug

block config
    - var pagetitle = "Willkommen";
    - var activePage = "startseite";

block content
    h1 hey ho
    +section("fadeInUp-animation")(id="location")
        include components/c.location.pug 
    +section("fadeInUp-animation")(id="information")
        include components/c.teaserGrid.pug
    +section("fadeInUp-animation")(id="grid")
        include components/c.zeitplan.pug