// use section-space mixin for consistent spacing between content area components
// section-space for components with no background color, maintains correct spacing with collapsing margins between components (no double space)
// section-space-bg for components with background color

@mixin section-space {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    padding-left: clamp-calc(40px, 80px);
    padding-right: clamp-calc(40px, 80px);
    margin-top: clamp-calc(80px, 160px);
    margin-bottom: clamp-calc(80px, 160px);

}

@mixin section-space-bg {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    padding-left: clamp-calc(40px, 80px);
    padding-right: clamp-calc(40px, 80px);
    padding-top: clamp-calc(80px, 160px);
    padding-bottom: clamp-calc(80px, 160px);

}

@mixin component-space {
    max-width: 1080px;
    margin: 0 auto;

    * + & {
        margin-top: clamp-calc(40px, 80px);
    }
}
