
<h3>Accordion Component with second item set to expanded and open items can be closed</h3>
<div class="c-accordion">    
  <div class="c-accordion_wrap o-accordion js-accordion">
    <div class="c-accordion_item">
      <h4 class="o-accordion_header">
        <button class="c-accordion_button js-accordion_toggle" aria-expanded="false"><span class="c-accordion_header">Akkordion text 1</span><span class="c-accordion_toggle" aria-hidden="true"></span></button>
      </h4>
      <div class="o-accordion_content c-accordion_content" aria-hidden="true">
        <p>Nullam dictum felis eu pede. Phasellus ullamcorper ipsum rutrum nunc. Nunc nonummy metus. Vestibulum volutpat pretium libero. Cras id dui. Aenean ut eros et nisl sagittis nullam nulla eros, ultricies sit amet, nonummy id, imperdiet feugiat, pede. Sed lectus Donec mollis hendrerit risus. Phasellus nec sem in justo pellentesque facilisis.</p>
      </div>
    </div>
    <div class="c-accordion_item">
      <h4 class="o-accordion_header">
        <button class="c-accordion_button js-accordion_toggle" aria-expanded="true"><span class="c-accordion_header">Akkordion text 2</span><span class="c-accordion_toggle" aria-hidden="true"></span></button>
      </h4>
      <div class="o-accordion_content c-accordion_content" aria-hidden="true">
        <p>Nullam dictum felis eu pede. Phasellus ullamcorper ipsum rutrum nunc. Nunc nonummy metus. Vestibulum volutpat pretium libero. Cras id dui. Aenean ut eros et nisl sagittis nullam nulla eros, ultricies sit amet, nonummy id, imperdiet feugiat, pede. Sed lectus Donec mollis hendrerit risus. Phasellus nec sem in justo pellentesque facilisis.</p>
      </div>
    </div>
    <div class="c-accordion_item">
      <h4 class="o-accordion_header">
        <button class="c-accordion_button js-accordion_toggle" aria-expanded="false"><span class="c-accordion_header">Akkordion text 3</span><span class="c-accordion_toggle" aria-hidden="true"></span></button>
      </h4>
      <div class="o-accordion_content c-accordion_content" aria-hidden="true">
        <p>Nullam dictum felis eu pede. Phasellus ullamcorper ipsum rutrum nunc. Nunc nonummy metus. Vestibulum volutpat pretium libero. Cras id dui. Aenean ut eros et nisl sagittis nullam nulla eros, ultricies sit amet, nonummy id, imperdiet feugiat, pede. Sed lectus Donec mollis hendrerit risus. Phasellus nec sem in justo pellentesque facilisis.</p>
      </div>
    </div>
  </div>
</div>
<h3>Accordion Component with first item set to expanded and at least one item has to stay open</h3>
<div class="c-accordion">    
  <div class="c-accordion_wrap o-accordion js-accordion -oneOpen">
    <div class="c-accordion_item">
      <h4 class="o-accordion_header">
        <button class="c-accordion_button js-accordion_toggle" aria-expanded="true"><span class="c-accordion_header">Akkordion text 1</span><span class="c-accordion_toggle" aria-hidden="true"></span></button>
      </h4>
      <div class="o-accordion_content c-accordion_content" aria-hidden="true">
        <p>Nullam dictum felis eu pede. Phasellus ullamcorper ipsum rutrum nunc. Nunc nonummy metus. Vestibulum volutpat pretium libero. Cras id dui. Aenean ut eros et nisl sagittis nullam nulla eros, ultricies sit amet, nonummy id, imperdiet feugiat, pede. Sed lectus Donec mollis hendrerit risus. Phasellus nec sem in justo pellentesque facilisis.</p>
      </div>
    </div>
    <div class="c-accordion_item">
      <h4 class="o-accordion_header">
        <button class="c-accordion_button js-accordion_toggle" aria-expanded="false"><span class="c-accordion_header">Akkordion text 2</span><span class="c-accordion_toggle" aria-hidden="true"></span></button>
      </h4>
      <div class="o-accordion_content c-accordion_content" aria-hidden="true">
        <p>Nullam dictum felis eu pede. Phasellus ullamcorper ipsum rutrum nunc. Nunc nonummy metus. Vestibulum volutpat pretium libero. Cras id dui. Aenean ut eros et nisl sagittis nullam nulla eros, ultricies sit amet, nonummy id, imperdiet feugiat, pede. Sed lectus Donec mollis hendrerit risus. Phasellus nec sem in justo pellentesque facilisis.</p>
      </div>
    </div>
    <div class="c-accordion_item">
      <h4 class="o-accordion_header">
        <button class="c-accordion_button js-accordion_toggle" aria-expanded="false"><span class="c-accordion_header">Akkordion text 3</span><span class="c-accordion_toggle" aria-hidden="true"></span></button>
      </h4>
      <div class="o-accordion_content c-accordion_content" aria-hidden="true">
        <p>Nullam dictum felis eu pede. Phasellus ullamcorper ipsum rutrum nunc. Nunc nonummy metus. Vestibulum volutpat pretium libero. Cras id dui. Aenean ut eros et nisl sagittis nullam nulla eros, ultricies sit amet, nonummy id, imperdiet feugiat, pede. Sed lectus Donec mollis hendrerit risus. Phasellus nec sem in justo pellentesque facilisis.</p>
      </div>
    </div>
  </div>
</div>