
<h3>Custom Styled form elements </h3>
<h4>Selects</h4>
<p>selects can be browser styled or as in this case are both custom styled and browser styled, depending on context. on desktop devices they get a custom markup, behaviour and styling. on movbile devices they retain their browser based behaviour and styling, to not interfere with selection ui on mobile.</p>
<h4>Checkboxes and Radios </h4>
<p>custom styling purely based on css.</p>
<fieldset> 
  <legend>Custom Form elements</legend>
  <div class="e-form_fieldWrap js-select">
    <label for="selectLabel">Number</label>
    <div class="e-select_wrap">
      <select class="e-select_native js-selectNative" name="native-select" id="selectLabel" aria-describedby="selectLabelDesc">
        <option value="0" disabled="" selected="">select number</option>
        <option value="1">1</option>
        <option value="2">2</option>
      </select>
    </div><span id="selectLabelDesc" style="display:none;">Drücke die Leertaste um die Auswahlmöglichkeiten zu öffnen, runter und hoch um die Möglichkeiten zu navigieren und Enter um Auswahl zu machen.</span>
  </div>
  <div class="e-form_fieldWrap js-select">
    <label for="selectLabel1">Salutation</label>
    <div class="e-select_wrap">
      <select class="e-select_native js-selectNative" name="native-select" id="selectLabel1" aria-describedby="selectDesc2">
        <option value="0" disabled="" selected="">select salutation</option>
        <option value="1">hallo</option>
        <option value="2">hi     </option>
        <option value="3">bonjour</option>
      </select>
    </div><span id="selectDesc2" style="display:none;">beschreibung in voiceover nummer 2</span>
  </div>
  <div class="e-form_fieldWrap">
    <p class="label">Checkbox Group</p>
    <div class="e-form_rcWrap"> 
      <input type="checkbox" id="checkbox1"/>
      <label for="checkbox1">checkbox1</label>
    </div>
    <div class="e-form_rcWrap"> 
      <input type="checkbox" id="disabledCheck" checked="checked" disabled="disabled"/>
      <label for="disabledCheck">disabled checkbox</label>
    </div>
    <div class="e-form_rcWrap"> 
      <input type="checkbox" id="disabledCheck" disabled="disabled"/>
      <label for="disabledCheck">disabled checkbox</label>
    </div>
  </div>
  <div class="e-form_fieldWrap">
    <p class="label">Radio Group</p>
    <div class="e-form_rcWrap">
      <input type="radio" id="radio1" name="radios" value="1"/>
      <label for="radio1">radio 1</label>
    </div>
    <div class="e-form_rcWrap">
      <input type="radio" id="radio2" name="radios" value="2"/>
      <label for="radio2">radio 2</label>
    </div>
    <div class="e-form_rcWrap">
      <input type="radio" id="radio3" name="radios" value="3" disabled="disabled"/>
      <label for="radio3">disabled Radio    </label>
    </div>
  </div>
</fieldset>