
<h3>Swiper slider with 3 items</h3>
<div class="o-slider c-slider js-imageSlider">
  <div class="c-slider_wrap swiper">
    <ul class="swiper-wrapper">
      <li class="swiper-slide"><img src="https://picsum.photos/300/200" alt=""/></li>
      <li class="swiper-slide"><img src="https://picsum.photos/350/200" alt=""/></li>
      <li class="swiper-slide"><img src="https://picsum.photos/320/200" alt=""/></li>
    </ul>
    <ul class="swiper-pagination"></ul>
    <div class="swiper-button-prev"> </div>
    <div class="swiper-button-next"></div>
  </div>
</div>
<h3>Swiper slider with 6 items</h3>
<div class="o-slider c-slider js-imageSlider">
  <div class="c-slider_wrap swiper">
    <ul class="swiper-wrapper">
      <li class="swiper-slide"><img src="https://picsum.photos/300/200" alt=""/></li>
      <li class="swiper-slide"><img src="https://picsum.photos/350/200" alt=""/></li>
      <li class="swiper-slide"><img src="https://picsum.photos/320/200" alt=""/></li>
      <li class="swiper-slide"><img src="https://picsum.photos/300/200" alt=""/></li>
      <li class="swiper-slide"><img src="https://picsum.photos/350/200" alt=""/></li>
      <li class="swiper-slide"><img src="https://picsum.photos/320/200" alt=""/></li>
    </ul>
    <ul class="swiper-pagination"></ul>
    <div class="swiper-button-prev"> </div>
    <div class="swiper-button-next"></div>
  </div>
</div>