
<div class="c-teaserGrid">
  <div class="c-teaserGrid_item">
    <div class="c-teaserGrid_body"> 
      <h2 class="c-teaserGrid_header">Dress Code</h2>
      <p>gibt’s nicht – kommt, wie ihr euch wohlfühlt! 😄</p>
    </div>
    <div class="c-teaserGrid_img"> <img src="SVG/Strau.svg"/></div>
  </div>
  <div class="c-teaserGrid_item -dancingAnimation">
    <div class="c-teaserGrid_img"> <img src="SVG/Paar.svg" style="height:200px;"/></div>
  </div>
  <div class="c-teaserGrid_item">
    <div class="c-teaserGrid_body"> 
      <h2 class="c-teaserGrid_header">Geschenke</h2>
      <p>Wir freuen uns über Geldgeschenke 💛</p>
    </div>
    <div class="c-teaserGrid_img"> <img src="SVG/Strau.svg"/></div>
  </div>
</div>