.c-hero 
    .c-hero_text
        h1.u-t-c.-white Lucas und Tami 
        h2.u-t-c.-white heiraten 
    .c-hero_img 
        img(src="https://placecats.com/500/300")
    .c-hero_rvsp
        button.g-btn Ja, ich komme!