.c-teaserIT 
    .c-teaserIT_body 
        h2 Location
        p Wir feiern unsere Hochzeit an <a href="https://www.farmhousewandlitz.com" target="_blank">Farmhouse Wandlitz</a> bei Berlin
        p Übernachtungsmöglichkeiten in der Nähe
        ul 
            li <a href="barnimerhof.de" target="_blank">Hotel Barnimer Hof</a>
            li in der Location ist begrenzte Übernachtungsmöglichkeiten (Bitte melden)
        p Anreise: 
        ul 
            li Zug (Regionalbahn RB 27 von Berlin Karow)
            li Bus der Linien 897 oder 909 von Bernau Bhf, Richtung Basdorf Bahnhof
            In ca. 30 Minuten mit dem Auto, von Berlin-Mitte über die Autobahn A11 oder B109/B273 erreichbar
    .c-teaserIT_img
        .c-teaserIT_overlay
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2416.533825015372!2d13.434917799999997!3d52.72255889999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a9a5bfa2b8de99%3A0xecb156247262784b!2sFarmhouse%20Wandlitz%20UG!5e0!3m2!1sde!2sde!4v1774252826053!5m2!1sde!2sde" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
