nav.c-menu
    ul.c-menu_list 
        li 
            a(href="#rsvp") RVSP
        li 
            a(href="#location") Location
        li 
            a(href="#dresscode") Dresscode
        li 
            a(href="#gifts") Geschenke
        li 
            a(href="#timeline") Zeitplan