//- have a look in slider.js and o-swiper.scss 
//- two slider example to check for correct independent initialisation

h3 Swiper slider with 3 items
.o-slider.c-slider.js-imageSlider
    .c-slider_wrap.swiper
        ul.swiper-wrapper
            li.swiper-slide
                img(src="https://picsum.photos/300/200", alt="")
            li.swiper-slide
                img(src="https://picsum.photos/350/200", alt="")
            li.swiper-slide
                img(src="https://picsum.photos/320/200", alt="")
        ul.swiper-pagination
        .swiper-button-prev 
        .swiper-button-next

h3 Swiper slider with 6 items
.o-slider.c-slider.js-imageSlider
    .c-slider_wrap.swiper
        ul.swiper-wrapper
            li.swiper-slide
                img(src="https://picsum.photos/300/200", alt="")
            li.swiper-slide
                img(src="https://picsum.photos/350/200", alt="")
            li.swiper-slide
                img(src="https://picsum.photos/320/200", alt="")
            li.swiper-slide
                img(src="https://picsum.photos/300/200", alt="")
            li.swiper-slide
                img(src="https://picsum.photos/350/200", alt="")
            li.swiper-slide
                img(src="https://picsum.photos/320/200", alt="")
        ul.swiper-pagination
        .swiper-button-prev 
        .swiper-button-next
