.c-teaserGrid
    .c-teaserGrid_item
        .c-teaserGrid_body 
            h2.c-teaserGrid_header Dress Code
            p gibt’s nicht – kommt, wie ihr euch wohlfühlt! 😄
        .c-teaserGrid_img 
            img(src="svg/Strau.svg")
    .c-teaserGrid_item.-dancingAnimation
        .c-teaserGrid_img 
            img(src="svg/Paar.svg" style="height:200px;")
    .c-teaserGrid_item
        .c-teaserGrid_body 
            h2.c-teaserGrid_header Geschenke
            p Wir freuen uns über Geldgeschenke 💛
        .c-teaserGrid_img 
            img(src="svg/Strau.svg")
    //- .c-teaserGrid_item
    //-     .c-teaserGrid_body 
    //-         h2 Lorem ipsum dolor sit amet
    //-         p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
    //-     .c-teaserGrid_img 
    //-         img(src="https://cdn-icons-png.flaticon.com/512/706/706478.png")
