.c-teaserIT 
    .c-teaserIT_body 
        h2 Wunschliste
        p Wir freuen uns riesig auf unseren großen Tag! 🎉
        p Wenn ihr uns eine Freude machen wollt, sind Geldgeschenke perfekt – so können wir uns später etwas Schönes gönnen. 💛
    .c-teaserIT_img 
        img(src="https://cdn-icons-png.flaticon.com/512/706/706478.png")