footer.g-footer#rsvp.fadeInUp-animation
    .g-footer_lyt
        img(src="SVG/Briefe.svg" alt="").g-footer_deco
        .g-footer_content
            .g-footer_title
                h2 RSVP
                p.-big Bitte gebt uns bis zum <strong>01.05.2026</strong> Bescheid, ob ihr dabei seid!
            .g-footer_contact
                p Tami / Lukas 
                p Handynummer: 0110/3994394934
                p Email: 39943993449
                p Whats App Gruppe
                .g-footer_cta
                    <a class="g-btn" href="https://wa.me/491231234567?text=Hallo%20[Name]%2C%20wir%20kommen%20zu%20%5BAnzahl%5D%20Personen.%20Namen%20der%20G%C3%A4ste%3A%20%5Bhier%20eintragen%5D%20%F0%9F%98%8A" target="_blank">Ja Ich komme</a>
                    <a class="g-btn" href="https://wa.me/491231234567?text=Hallo%20[Name]%2C%20wir%20kommen%20zu%20%5BAnzahl%5D%20Personen.%20Namen%20der%20G%C3%A4ste%3A%20%5Bhier%20eintragen%5D%20%F0%9F%98%8A" target="_blank">X Ich komme nicht</a>
        img(src="SVG/Glas1.svg" alt="").g-footer_deco




