.c-hero {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    color: $accent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: clamp-calc(25px,60px);
    background-color: $primary;
    gap: clamp-calc(24px,30px);

    h1 {
        font-size: clamp-calc(60px,100px);
        font-family: $font-scarlett;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        width: 100%;

        span:first-of-type {
            grid-row: 1;
            grid-column: 1/span 2;
            justify-self: flex-start;
        }

        span:last-of-type {
            grid-row: 2;
            grid-column: 1/span 2;
            justify-self: flex-end;
        }

        @include mq(tls){
            display: flex;
            justify-content: center;
            margin-top: 40px;
        }

    }
}

.c-hero_imgSlider{
    aspect-ratio: 3/2;
    max-width: 575px;
    position: relative;
    width: 100%;

    &::before{
        content: "";
        width: 116%;
        height: 116%;
        position: absolute;
        background-image: url("../img/svg/border-hoch.svg");
        filter: invert(1);
        z-index: 10;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        top: -8%;
        left: -8%;
        opacity: .75;
    }


    &::after{
        content: "";
        background-image: url("../img/svg/armor.svg");
        height: 50px;
        display: block;
        position: absolute;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        z-index: 10;
        top: 5px;
        right: 0;
        animation: wiggle 4s infinite;
        filter: invert(1);
        aspect-ratio: 1/1;

        @include mq(tls){
            width: 100px;
            height: 100px;
            right: -66px;
            top: 20%;
        }
    }
}

.c-hero:nth-of-type(2){

    .c-hero_imgSlider::before{
        background-image: url("../img/svg/border-hoch.svg");
    }

    @include mq(tls){
        gap: 24px;
        h1 {
            // font-size: 100px;
        }

        h2 {
            font-size: 2.125rem;
        }
        padding-block: 20px;
                padding-top: 40px;

        }

}

.c-hero:nth-of-type(3) {
        .c-hero_imgSlider::before{
        background-image: none
    }

    @include mq(tls){
            gap: 24px;
    h1 {
        font-size: 90px;
    }

    h2 {
        font-size: 2.125rem;
    }
    padding-block: 20px;
    padding-top: 50px;

    }
}

.c-hero_slide {
    position: absolute;
    width: 100%;
    object-fit: cover;
    height: 100%;
    opacity: 0;
    transition: opacity 1.5s ease-in-out;

    &.-active{
        opacity: 1;
    }
}

.c-hero_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    h2 {
        text-align: center;
        font-size: 2rem;


        @include mq(tls){
            font-size: 2.125rem;
        }

    }
}

.c-hero_rvsp {
    display: flex;
}

@keyframes wiggle {
    0% { transform:  rotate(-10deg); }
    60% { transform: rotate(10deg);}
    75% { transform: rotate(0deg); }
    80% { transform:  rotate(5deg); }
    95% { transform: rotate(0deg); }
    100% { transform: rotate(-9deg); }
}