.c-teaserGrid {
    display: flex;
    flex-direction: column;
    align-items: center;

    h3.-smaller {

        @include mq($until: tls){
                    font-size: 2.4rem;
        }
    }
}

.c-teaserGrid_wrap{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 28px;

    @include mq(tls) {
        flex-direction: row;
        justify-content: space-evenly;
        gap: 40px;
        width: 100%;
    }
}

.c-teaserGrid_item {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 12px;

    &:nth-last-of-type(odd) {
        justify-content: flex-end;

        @include mq(tls){
            max-width: 30%;
        }
    }

    &.-dancingAnimation {
        border-radius: 30px;
        padding: 30px;
        padding-inline: 60px;

        @include mq(tls){
            margin-top: 60px;
            min-height: 300px;
            justify-content: flex-start;
        }
    }

    @include mq($until: tls){
        .-date &.-bottom {
            flex-direction: column;
        }
    }

}

.c-teaserGrid_body {
    p {
        margin-top: 12px;
    }
}

.c-teaserGrid_img img {
    width: 100%;
    min-height: 100px;


        .-team & {

            filter: grayscale(1);
            height: 175px;
            aspect-ratio: 1/1;
            border-radius: 50%;
            object-fit: cover;
            margin-top: 4px;
        }

}

.c-teaserGrid_header {
    //font-family: $font-copperplate;
    font-family: "Poppins";
    font-size: 1.25rem;

    &.-big {
        font-size: 2rem;
    }
}

.c-teaserGrid_item.-dancingAnimation .c-teaserGrid_img {
    perspective: 800px; /* 3D Tiefe */
}

.c-teaserGrid_item.-dancingAnimation .c-teaserGrid_img img {
    display: block;
    transform-style: preserve-3d;
    backface-visibility: hidden;

    /* Animation */
    animation: danceBounceSpin 6s ease-in-out infinite;
}

@keyframes danceBounceSpin {
    0% {
        transform: translateX(0) rotateY(0deg) translateZ(0);
        opacity: 0.9;
    }

    15% {
        transform: translateX(-10px) rotateY(10deg) translateZ(10px) rotateZ(2deg);
    }

    30% {
        transform: translateX(10px) rotateY(-10deg) translateZ(10px) rotateZ(-2deg);
        opacity: 0.5;
    }

    50% {
        transform: translateX(-5px) rotateY(20deg) translateZ(15px) rotateZ(1deg);
    }

    70% {
        transform: translateX(5px) rotateY(-20deg) translateZ(15px) rotateZ(-1deg);
        opacity: .7;
    }

    80% {
        transform: translateX(0) rotateY(180deg) translateZ(15px) rotateZ(0deg); /* halber Spin */
    }

    90% {
        transform: translateX(0) rotateY(360deg) translateZ(1px) rotateZ(0deg); /* volle Drehung */
        opacity: .9;
    }

    100% {
        transform: translateX(0) rotateY(360deg) translateZ(0) rotateZ(0deg); /* zurück zur Mitte, Bounce danach weiter durch infinite */
    }
}
