html {
    overflow-y: scroll;
    min-height: 100%;
    background-color: $accent;

    &.-landing {
        background-color: $primaryLight;
    }
}

img {
    max-width: 100%;
    font-style: italic;
    vertical-align: middle;
    height: auto;
}

button {
    cursor: pointer;
}
