/* Core Bandi (WOFF2) */
@font-face {
    font-family: "Core Bandi";
    src: url("../Fonts/CoreBandi.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

/* Copperplate Gothic (OTF) */
@font-face {
    font-family: "Copperplate Gothic";
    src: url("../Fonts/CopperplateGothic.otf") format("opentype");
}

/* CSQuinoa Regular (OTF) */
@font-face {
    font-family: "CS Quinoa";
    src: url("../Fonts/CSQuinoaRegular.otf") format("opentype");
}

/* Scarlett Demo (TTF) */
@font-face {
    font-family: "Scarlett";
    src: url("../Fonts/ScarlettMDemoRegular.ttf") format("truetype");
}

/* Themysion (TTF) */
@font-face {
    font-family: "Themysion";
    src: url("../Fonts/Themysion.ttf") format("truetype");
}
