form {
}

fieldset {
}

.e-form_fieldWrap {
    * + & {
        margin-top: 20px;
    }
}

label,
.label {
    font-size: 0.8em;
    margin: 0 0 5px 0;

    .e-form_rcWrap & {
        font-size: inherit;
        margin: 0;
    }
}

input[type="text"],
input[type="password"],
input[type="email"] {
    height: 45px;
    border: 1px solid $accent;
    border-radius: 4px;

    &:focus-visible {
        outline-style: solid;
        outline-width: 2px;
        outline-color: $accent;
    }
}

textarea {
}

select {
    option {
    }
}

.e-form_rcWrap {
    display: flex;

    & + & {
        margin-top: 5px;
    }
}


input[type="radio"],
:not(.extbase-debugger-tree) > input[type="checkbox"] {
    @include sr-only;

    & + label {
        position: relative;
        padding-left: 30px;
    }

    &:hover + label {
        color: orange;
        cursor: pointer;

        &::before {
            border-color: orange;
        }
    }

    &:focus-visible + label {
        outline: 2px solid orange;
        outline-offset: 2px;
        color: orange;
    }
}

// radio button
input[type="radio"] {
    & + label {
        &::before {
            content: "";
            position: absolute;
            display: block;
            width: 24px;
            height: 24px;
            border: 1.5px solid black;
            border-radius: 25px;
            left: 0;
            top: 0;
        }
    }

    &:checked + label {
        &::before {
            border-color: orange;
        }

        &::after {
            content: "";
            position: absolute;
            display: block;
            height: 18px;
            width: 18px;
            background-color: orange;
            border: 2px solid white;
            border-radius: 25px;
            left: 3px;
            top: 3px;
            cursor: pointer;
        }
    }

    &:disabled + label {
        color: grey;

        &::before {
            border-color: grey;
        }

        &::after {
            background-color: grey;
        }
    }
}

//checkbox
:not(.extbase-debugger-tree) > input[type="checkbox"] {
    & + label {
        &::before {
            content: "";
            position: absolute;
            display: block;
            width: 24px;
            height: 24px;
            border: 1.5px solid black;
            left: 0;
            top: 0;
        }
    }

    &:checked + label {
        &::before {
            border-color: orange;
        }

        //check
        &::after {
            content: "";
            position: absolute;
            display: block;
            height: 8px;
            width: 15px;
            top: 10px;
            left: 4px;
            border-left: 3px solid orange;
            border-bottom: 3px solid orange;
            transform: translateY(-50%) rotate(-45deg);
        }
    }

    &:disabled + label {
        color: grey;

        &::before,
        &::after {
            border-color: grey;
        }
    }
}
