html {
    font-family: $text-font;
    color: $accent;
    font-size: 1.125rem;
    font-weight: 300;
}

a {
    * + & {
        margin-top: 18px;
    }

    //color: #190850;
    color: $accent;

    &:hover {
        color: $black;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
.h-h1,
.h-h2,
.h-h3,
.h-h4,
.h-h5,
.h-h6 {
    margin: 0;
    font-family: $head-font;
    line-height: 1.2;

}

h1, .h-h1 {
    font-size: 4rem;
}

h2,
.h-h2 {
    font-size: 3rem;

    @include mq(tls){
        font-size: 3.815rem;
    }
}

h3,
.h-h3 {
    font-size:2.5rem;
    @include mq(tls){
        font-size: 3.052rem;

        &.-smaller {
            font-size: 2.4rem;
        }
    }
}

h4,
.h-h4 {
    font-size: 2rem;
    @include mq(tls){
        font-size: 2.441rem;
    }
}

h5,
.h-h5 {
    font-size: 1.5rem;
    @include mq(tls){
        font-size: 1.953rem;
    }
}


p {
    margin-bottom: 0;
    font-size: 1rem;
    line-height: 1.1;
    z-index: 10;

    @include mq(tls){
        font-size: 1.125rem;
    }

    &.-small {
        font-size: 0.8rem;
    }

    &.-big {
        font-size: 1.75rem;
    }

    * + & {
        margin-top: 16px;
    }

    & + & {
        margin-top: 12px;
    }

    h1,h2,h3,h4,h5  + & {
        margin-top: 24px;
    }
}

span {
    &.-big {
        font-size: 1.5rem;
    }
}


ul {
    li {
    }
}

table {
}

thead {
    th {
    }
}

tbody {
    td {
    }
}

figure {
}

figcaption {
}

blockquote {
}
